@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: custom;
  src: url(../fonts/MarioFont.ttf)
}

/* .title {
  font-family: custom;
} */

/* .pipe {
  animation: pipe-run 2s infinite linear;
}

.mario {
  animation: mario-jump 500ms ease-out;
}

@keyframes pipe-run {
  from {
    right: -10%;
  }
  to{
    right: 100%;
  }
}

@keyframes mario-jump {
  0%{
    bottom: 0;
  }
  40% {
    bottom: 150px;
  }
  60% {
    bottom: 150px;
  }
  100% {
    bottom: 0;
  }
} */